name: "package"

on:
  workflow_dispatch:

env:
  GO_VERSION: "1.17"
  HECATE_COMMIT: "b639fbfcd4695f6381a2e3d6bd1cd61e44f35bfc"

jobs:
  hecate:
    runs-on: "macos-10.15"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          repository: evanmiller/hecate
          ref: ${{ env.HECATE_COMMIT }}

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "${{ env.GO_VERSION }}"

      - name: Build
        run: |
          GO111MODULE=on \
          CGO_ENABLED=0 \
          GOOS=darwin \
          GOARCH=amd64 \
          go build -a -trimpath \
            -ldflags "-s -w -extldflags '-static'" \
            -tags 'osusergo netgo static_build' \
            -o ./hecate

      - name: Create hecate package
        run: |
          RELEASE="$(date +'%F')"
          echo "RELEASE=${RELEASE}" >> $GITHUB_ENV
          echo "Release name: ${RELEASE}"
          tar -zcvf "./hecate-${RELEASE}_Darwin_x86_64.tar.gz" ./hecate

      - name: Upload package
        uses: actions/upload-artifact@v3
        with:
          name: Hecate (${{ env.RELEASE }})
          path: ./hecate-${{ env.RELEASE }}_Darwin_x86_64.tar.gz
          if-no-files-found: error
